body{
    background-color: antiquewhite;
}
.h1{
    text-align: center;
}

h1{
    color: rgb(204, 130, 39);
}

h2{
    color: rgb(179, 179, 60);
}

section{
    margin: auto auto;
    /* display: flex; */
    /* background-color: aquamarine; */
    /* width: 50%; */
    /* align-items: center; */
    /* text-align: center; */
}

.calc{
    text-align: center;
    margin-top: 10%;
}